/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol,
li {
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  /*min-height: 100vh;*/
  /*text-rendering: optimizeLegibility;*/
  /*line-height: 1.5;*/
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}




.flex {
  display: flex;
}


body {
  background-color: #fff;
  overflow-x: hidden;
  /*border: 1px solid red;*/
  width: 100%;
}

.container-all {
  /*border: 1px solid blue;*/
  background-color: #fafafa;
  //background-color: lime;
}

.header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  //margin: auto;

  padding: 0 15px;

  border-bottom: 1px solid #ccc;
  margin-bottom: 1px;
  background-color: #fff;
}

.header-items {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  //padding: 15px;
  //width: 90%;
  padding: 0;


  /*font-size: 2rem;*/
  justify-content: space-between;
  /*max-width: 1000px;*/
  align-items: center;
  height: 53px;
  //border: 1px solid yellow;
}

.search-bar {
  width: 200px;
  display: none;
  height: 30px;

  background-color: #fafafa;

  //border-style: solid;
  //border-width: 1px;
  border: 1px solid #ccc;
  border-radius: 3px;
  //color: #aaa;
  /*border: 1px solid green;*/
  /* margin: auto;*/
}

.search-bar:focus {
  outline:lightsalmon;
}




.header-items li + li {
  margin-left: 17px;
  color: #333;
  /*border: 1px solid red;*/
}


.icons {
  display: flex;
  font-size: 1.5rem;
  //border: 1px solid blue;
  justify-content: center;
  padding: 0;
}

//.header-items li:first {
//  margin-left: 0;
//}

.logo,
h1 {
  font-family: "Cookie", cursive;
  font-weight: 500;
  font-size: 2.1rem;
  line-height: 1.3;

  /*border: 1px solid red;*/
}






.content {
  max-width: 1000px;
  margin: auto;
  //background-color: lightseagreen;
  //border: 1px solid teal;
}

.feed {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  padding-top: 54px;
  max-width: 600px;
  //background-color: #ddd;
  //border: 1px solid greenyellow;
  //justify-content: center;
  //align-items: center;
}

.main {
  //border: 1px solid magenta;
}

.stories {
  display: flex;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 6px 0 5px 0;
  border: 1px solid #ccc;
  justify-content: center;
  border-radius: 3px;
  background-color: #fff;
}

.story {
  //border: 1px solid green;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-top: 5px;
}

.story-outline {
  border: 2px solid #db3073;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  margin-bottom: 4px;
  position: relative;
}

.story img {
  line-height: 1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -28px;
  left: 50%;
  margin-left: -28px;
}

.story p {
  font-size: 0.9rem;
  font-weight: 100;
  color: #333;
  /*border: 1px solid black;*/
  padding: 0;
  margin: 0;
  text-align: center;
  text-size-adjust: ;
}


.posts {

}

.post {
  //border: 1px solid purple;
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  margin-top: 15px;
  padding: 15px 0 5px 0;
  background-color: #fff;
}

.post-header {
  display: flex;

  align-self: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 14px;
  //border: 1px solid green;
}

.post-header-left {
  display: flex;
  justify-content: space-between;
  //border: 1px solid black;
}

.post-header img {
  border-radius: 50%;
  margin-right: 15px;
  //border: 1px solid black;
}

.post-header p {
  color: #333;
  line-height: 1.5;
  //border: 1px solid black;
}

.photo {
  //border: 1px solid red;
  width: 100%;
  height: auto;
  //object-fit: contain;
}

.photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.post-footer {
  padding: 0 15px;
  margin: auto;
  align-items: center;
  justify-content: center;
  //line-height: 1.5rem;
}

.post-footer p {
  margin: 3px 0;
}

.reactions {
  //border: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  padding: 0;
}

.reactions-left {
  display: flex;
//padding: 0;
//margin: 0;
}

.reactions-left li + li {
  margin-left: 15px;
}

.likes {
  margin-bottom: 10px;
  font-weight: bold;
  color :#333
}

.text-left {
  text-align: left;
  align-items: left;
  justify-content: left;
  //border: 1px solid green;
}

.caption {
  padding-bottom: 5px;
  //border: 1px solid red;
}
.view-more {
  color: #888
}

.comments {
  width: 100%;
  justify-content: left;
  //border: 1px solid red;
  //margin: auto;
}

.comment {
  display: flex;
  width: 100%;
  justify-content: space-between;
  //line-height: 1rem;
  //border: 1px solid green;
  //margin: auto;
}

.comment li {
  width: 100%;
  margin: 0;
  padding: 0;
}

.comment p {
  //padding-left: 0;
}

.time-ago {
  font-size: 0.7rem;
  color: #888;
  padding-top: 8px;
}

.add-comment {
  display: none;
  border: 1px solid #ccc;
  border-top: 1px hidden;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  background-color: #fff;
  //background-color: lime;
}

.add-comment-items {
  display: flex;
  width: 100%;
  //margin: auto;
  padding: 15px;
  align-items: center;
  //background-color: lime;
}

.comment-input {
  border-style: hidden;
  color: #777;
  width: 100%;
  margin: 0 15px;
  //min-width: 150px;
  //max-width: 400px;
}

.comment-input:focus {
  outline: none;
}

.post-comment {
  text-decoration: none;
  color: #b1defc
}

/*Hidden at small/medium size -- STICKS -- slightly gray BG*/
.side {

  padding: 0;
  width: 293px;
  display: none;

  position: absolute;
  top: 110px;
  right: 33px;

  //background-color: lightpink;
}


.side-header {
  padding-left: 5px;
  margin-bottom: 25px;
}

.side-header.person-info img {
  margin-right: 20px;
}

.person-info {
  display: flex;
  padding-left: 5px;
  justify-content: space-between;
  align-items: center;
}

.person-info-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.person-info img
{
  border-radius: 50%;
}

.person-info p:last-of-type,
.suggestions-header p:last-of-type
{
  //font-size: 0.85rem;
}

.link {
  color: #0095f6;
  font-size: 0.80rem;
  //font-weight: bold;
}

.black {
  color: #000;
}

.suggestions-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.suggestions{
margin-bottom: 30px;
}

.suggestion{
 margin-bottom: 10px; 
}

.suggestion.person-info img {
  margin-right: 10px;
}

.suggestion p + p {
  font-size: 0.85rem;
  line-height: 1.5em;
}

.side-footer{
  text-align: left;
  color: #c7c7c7;
  //font-size: 0.5rem;
}

.side-footer p {
  font-size: 0.75rem;
}

.side-footer p + p {
  margin-top: 15px;
}





@media (min-width: 590px) {
  .search-bar {
    display: inline;
  }
}

@media (min-width: 640px) {
  .post {
    border: 1px solid #ccc;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    //background-color: mediumpurple;
  }

  .stories {
    margin-top: 30px;
  }
}

@media (min-width: 735px) {
  .add-comment {
    display: flex;
  }

}

@media (min-width: 1000px) {
  .content {
    display: flex;
    justify-content: left;
    width: 1000px;
  }
  
  .feed {
    max-width: 800px;
    width: 648px;
    margin: 0;
    //background-color: mediumvioletred;
    padding-left: 33px;
    //padding-right: 0;
  }

  .side {
    display: block;
    //background-color: lightsalmon;
  }
}